<div class="text-center" >
  <h1>About</h1>
  <br>
  <p>ながのＣＡＫＥは全国発送可能なケーキ屋さんです。</p>
  <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
  <p>様々なバリエーションをご用意しております。</p>
  <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
  <p>ぜひご注文ください。</p>
  <br>
  <div><%= image_tag "sweets_colorful_cupcake_set.png", size: "250x250" %></div>
</div>