<!--bxslider（画像スライダー）-->
<script>
  $(document).ready(function(){
    $('.bxslider').bxSlider({
      auto: true,
      speed: 400,
      pause: 3500,
      pager: false,
      slideWidth: 200,
      maxSlides: 4,
      minSlides: 4,
      moveSlides: 1,
      touchEnabled:false,
      autoControls: false
    });
  });
</script>

<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render 'layouts/search' %>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="bg-image">
          <div class="bg-image-touka">
            <p class="top-text">
              ようこそ、ながのＣＡＫＥへ！<br>
              このサイトはケーキ販売のＥＣサイトになります。<br>
              会員でない方も商品の閲覧はできますが、<br>
              購入には会員登録が必要になります。
            </p>

          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <h2>新着商品</h2>
      </div>
      <div class="row">
        <ul class="bxslider">
          <% @items.first(4).each do |item| %>
            <div class="col-4">
              <%= link_to item_path(item.id) do %>
                <%= attachment_image_tag item, :image, format: 'jpg', size: "170x170" %><br>
              <% end %>
            </div>
          <% end %>
        </ul>
      </div>
      <br>
      <div class="text-right">
        <%= link_to "全ての商品を見る＞", items_path %>
      </div>
    </div>
  </div>
</div>
