<h1>会員一覧</h1>

<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td>
          <%= link_to customer.last_name + " " + customer.first_name, admin_customer_path(customer.id) %>
        </td>
        <td><%= customer.email %></td>
        <td>
          <% if customer.is_active == true %>
            <div>有効</div>
          <% else %>
            <div>退会</div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
